@font-face {
    font-family: 'italianaregular';
    src: url('italiana-regular-webfont.eot');
    src: url('italiana-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('italiana-regular-webfont.woff2') format('woff2'),
         url('italiana-regular-webfont.woff') format('woff'),
         url('italiana-regular-webfont.ttf') format('truetype'),
         url('italiana-regular-webfont.svg#italianaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

